<h2>Home</h2>

<p>
  {{#link-to "account-details"}}
    Account Details
  {{/link-to}}
</p>

model.plan: {{ model.plan.days }} <br />
model.things: <br />

<ul>
  {{#each model.things as |thing|}}
    <li>Widget: {{thing.widget}}!</li>
  {{/each}}
</ul>

<br />
Days To Go: {{days-to-go}} <br />
Outlet: {{outlet}} <br />